/*$Green: #00853f;
$Black: #000000;
$Teal: #2b7e88;
$DarkGray: #444444;
*/
body, html {
    height: 100%;
    margin:0; 
    padding: 0;
    /* background: #2B7E88;
    background: linear-gradient(90deg,rgba(43, 126, 136, 1) 0%, rgba(0, 133, 63, 1) 84%, rgba(43, 126, 136, 1) 100%); */
  }
  
  .fakeNav{
    width: 100%;
    max-height: 500px;
  }
  .parallax {
    /* The image used */
    background-image: url(./assets/background.jpeg);

    /* Full height */
    height: 70%;
    max-height: 600px;
    
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  .parallaxTitle{
    color: white;
    z-index: 2;
    position: absolute;
    top: 80%;
    left: 0;
    right: 0;
    font-size: 4rem;
    width: 100%;
    max-height: 4rem;
    height: 160px;
    padding: 0;
    margin: 0;
    margin-top: 80px; /* 1/2 height */
    text-align: center;
  }

  @media only screen and (max-width: 700px) {
    .fakeNav{
        width: 100%;
   
      }
      .parallax {
        /* The image used */
        background-image: url(./assets/mobileBackground.svg);
    
        /* Full height */
        height: 50%;
        max-height: 200px;
        
        
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    
    
      .parallaxTitle{
        color: white;
        z-index: 2;
        position: absolute;
        top: 30%;
        left: 0;
        right: 0;
        font-size: 4rem;
        width: 100%;
        max-height: 4rem;
        height: 160px;
        padding: 0;
        margin: 0;
        margin-top: 80px; /* 1/2 height */
        text-align: center;
      }
  }
