
  
  button {
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
    line-height: 1;
    color: inherit;
    font-size: 20px;
  }

  button:hover{
    background-color:#2b7e88;
  }


  
  @media (width >= 500px) {
    button {
      font-size: 16px;
    }
  }

  :is(.navbar, .burger .dropdowns) {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .navbar {
    z-index: 1;
    left: 0;
    display: flex;
    align-items: stretch;
    height: 72px;
    background: white;
    color: black;
  }

  .button img{
    display: none;
  }

  #homeButton img{
    display: block;
  }
  
  /* .burger {
    z-index: 3;
    right: 0;
    display: grid;
    place-items: center;
    width: 72px;
    height: 72px;
    background-image: url(./assets/burgerBars.svg);
    background-repeat: no-repeat;
    background-position: center;
  } */
  
  body.open .burger {
    background-image: url("close.svg");
  }
  
  /* @media (width >= 500px) {
    .burger {
      display: none;
    }
  } */
  #homeButton{
margin-right: auto;
background-color: inherit;
  }
  .buttonStandard {
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 0 2rem;
    height: 100%;
    opacity: 0.9;
    font-weight: bold;
  }
  
  .button > img {
    display: none;
  }
  
  @media (width >= 500px) {
    .button {
      padding: 0 10px 0 24px;
    }
  
    .button > img {
      display: block;
    }
  }
  
  @media (width >= 500px) {
    .dropdown:hover .button {
      opacity: 1;
    }
  }
  
  .dropdowns {
    left: -9999px;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition-property: opacity, visibility;
    transition-duration: 0.3s;
  }
  
  @media (width < 500px) {
    body.open .dropdowns {
      opacity: 1;
      visibility: visible;
      left: 0;
    }
  }
  
  @media (width >= 500px) {
    .dropdowns {
      position: static;
      flex-direction: row;
      justify-content: flex-start;
      background: transparent;
      opacity: 1;
      visibility: visible;
    }
  }
  
  .dropdown {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: start;
  }
  
  .dropdown-menu {
    display: grid;
    margin-bottom: 28px;
    text-align: start;
  }
  .dropdown-menu button{
    text-align: start;
  }
  
  @media (width >= 300px) {
    .dropdown {
      height: 100%;
      flex-direction: row;
    }
  
    .dropdown-menu {
      position: absolute;
      top: 72px;
      left: 0;
      width: 180px;
      padding: 6px 24px 10px;
      margin-bottom: 0;
      place-items: start;
      background: #19191c;
      opacity: 0;
      visibility: hidden;
      translate: 0 24px;
      transition: 0.3s;
    }
  
    .dropdown:hover .dropdown-menu {
      opacity: 1;
      visibility: visible;
      translate: 0 0;
    }
  }
  
  .dropdown-menu > button {
    color: #f9f9f9;
    opacity: 1;
    height: 40px;
  }
  @media only screen and (max-width: 900px) {
    .buttonStandard {
      font-size: 0;
      padding: .5rem;
    }
    button img{
        display:block;
        margin: 0;
    }
  }
  @media (width >= 500px) {
    .dropdown-menu > button {
      opacity: 0.6;
    }
  
    .dropdown:hover .button {
      opacity: 1;
    }
  }
  
  .dropdown-menu > button:hover {
    opacity: 1;
  }

  .burger-special {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9); /* Dark semi-transparent overlay */
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 9999;
  }
  
  .burger-special.show {
    display: flex;
  }
  
  .burger-special button {
    background: white;
    color: white;
   
    margin: 1rem;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 5px;
  }
  .burger-special a{
    color: white;
    font-size: 3rem;
  }
  .burger-special a:hover{
    background-color: #2b7e88;
  }
  .burger-special a:visted{
    color: white;
  }
  .search-burger-list{
    margin-top: 2rem;
    padding: 3rem;
  }